{% extends "ballot/base.html" %}
{% block title %}Create Account | ATL’s Hottest{% endblock %}
{% block content %}
<section class="card narrow">
  <h1>Create Account</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
        <div class="nomination-optin-notice">
          *Your email is used to process your vote, enforce voting rules, and send service-related voting communications when necessary. Promotional communications require a separate optional choice.
        </div>

    <button class="btn primary" type="submit">Create Account</button>
  </form>
</section>
{% endblock %}
